@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@500;700&display=swap');

* {
  margin: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  width: 100%;
  align-items: center;
}

#my-logo {
  font-size: 18px;
  line-height: 24px;
  padding-left: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.social-media a {
  background-color: transparent;
  border: none;
}

#my-logo > a {
  text-decoration: none;
  color: #fff;
}

.menu-bar {
  color: #acb7c3;
  font-size: 36px;
  padding-right: 24px;
  margin-top: 19px;
  margin-bottom: 19px;
}

.headline-section {
  display: flex;
  order: 0;
  flex-direction: column;
  background-color: #1c1a19;
  width: 100%;
  height: 650px;
  background-image: url('/images/Group.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.headline-section h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 56px;
  margin: 120px 24px 12px;
}

.headline-section h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0 24px;
}

#paragraph {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 12px 24px;
}

.social-media {
  margin: 0 24px;
  display: flex;
  justify-content: flex-start;
}

.social-media ul {
  list-style-type: none;
}

.social-media li {
  float: left;
  padding: 5px;
}

.headline-section > img {
  position: absolute;
  left: 20%;
  top: 50%;
  bottom: -12.46%;
}

.works {
  display: grid;
  grid-template-columns: 100%;
}

.card-1 {
  display: flex;
  align-items: center;
  font-family: 'Crete Round', serif;
  margin: 120px 24px 104px 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  font-weight: 400;
  width: 327px;
  height: 83px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}
.card-2 img {
  margin: 0 24px;
}

#story {
  font-size: 32px;
  line-height: 52px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  margin: 12px 24px 0;
}

.card-2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 24px;
  color: #091E42;
}

.card-2 ul {
  display: flex;
  list-style-type: none;
  padding: 10px 12px;
}

.card-2 ul li {
  padding: 10px 12px;
  border: 1px solid #8993A4;
  margin-right: 12px;
}

.card-2 ul a {
  text-decoration: none;  
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #091E42;
}

.card-2 > a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  display: block;
  background-color: #ff6b00;
  padding: 12px;
  align-self: flex-start;
  margin-left: 24px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  background-image: url('/images/profesional.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 24px;
}

.card-3 h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  margin: 72px 19px 12px 13px;  
  color: #FFFFFF;
}

.card-3 p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;  
  color: #FFFFFF;
  margin: 12px 13px;
}